{{!-- Homepage View --}}
<!-- Loop over each object in the posts array -->
{{#each posts as |post| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      <a href="/posts/{{post.id}}">{{post.title}}</a>
    </h2>
    <p>
      <span for="img" aria-label="money">💲</span>
      <!-- Pass needed_funding value to the helper function -->
      <span class="dollar-amount">{{format_amount project.needed_funding}}</span>
      needed!
    </p>
    <p>Created by {{user.firstName}} {{user.lastName}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{post.body}}
    </p>
  </div>
</div>
{{/each}}
