{{!-- Selected Post --}}
<div class="text-center">
  <h2>{{title}}</h2>
  <h3>Shared by {{user.firstName}} {{user.lastName}}</h3>
  <p>{{body}}</p>

  {{!-- Add Comments for the Selected Post --}}
  {{!-- NOT WORKING--}}
  {{#each Comments as |comment| }}
  <div class="row mb-4 comment">

    <div class="col-md-5">
      <p>Shared by {{comment.user.firstName}} {{comment.user.lastName}}</p>
    </div>

    <div class="col-md-7">
      <p>
        {{comment.body}}
      </p>
    </div>

  </div>
  {{/each}}

  <p>
    <a href="/profile">Back to Profile!</a>
    <a href="/">Back to Homepage!</a>
  </p>

</div>