<link rel="stylesheet" href="/css/post.css">

{{!-- Selected Post --}}
<div class="text-center">
  <h2 class="title">{{title}}</h2>
  <h3>Shared by {{user.firstName}} {{user.lastName}}</h3>
  <p>{{body}}</p>

  {{!-- Comments for the Selected Post --}}
  {{#each Comments as |comment| }}
  <div id="commentDiv" class="row mb-2 comment">

    <div class="col-md-4">
      <p id="postedBy">Posted by {{comment.user.firstName}} {{comment.user.lastName}}</p>
    </div>

    <div id="commentBody" class="col-md-10">
      <p>
        "{{comment.body}}"
      </p>
    </div>

  </div>
  {{/each}}

{{!-- Adds a new Comment --}}
{{!-- BAD REQUEST ERROR--}}
  <div class="col-md-6">
    <h2 class="newCommentTitle">Write a New Comment!</h2>
    <form class="form comment-form">
      <div class="form-group">
        {{!-- Passing in Post ID value in hidden element --}}
        <input type="hidden" name="post-id" value="{{id}}"/>
        <label for="comment-body">What would you like to say?</label>
        <textarea class="form-input" id="comment-body" name="comment-body"></textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Post</button>
      </div>
    </form>
  </div>
</div>

  <p>
    <a href="/profile">Back to Profile!</a>
    <a href="/">Back to Homepage!</a>
  </p>

</div>

<script src="/js/post.js"></script>